body {
  background-color: #ffeeda;

}

.App {
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
}

#logo {
  flex: 1;
}

h1 {
  flex: 3;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em .1em;
  justify-content: center;
  min-width: 20em;
}

form {
  display: inline-flex;
  align-items: stretch;
  flex-direction: row;
}

input {
  flex: 1;
  font-size: 15px;
  padding: .1em 1em;
  margin: .1em .2em;
  min-height: 25px;
}

button {
  flex: 0;
  font-size: 15px;
  margin: .1em .2em;
  padding: 0  0.5em;  
  background-color: #ffbf00;
}

.portrait-wrapper {
  background-color: silver;
  border-radius: 5px;
  padding: 1.6em;
  align-content: stretch;
}

img {
  flex: 1;
  background-color: #fffae5;
  border: 5px solid #511111;
  border-radius: 4px;
}

.name {
  margin: auto;
  margin-top: 10px;
  min-height: 20px;
  max-width: 15em;
  padding: 0.2em 0.5em;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.error {
  background-color: crimson;
  color: white;
}

.searching {
  color: crimson;
  text-align: center;
  min-height: 1.2em;
  align-self: flex-end;
  margin-top: 2px;
}

footer {
  flex: 1;
  margin: 1em 1em;
  background-color: white;
  text-align: center;
  min-width: 20em;
  padding: 1em 0;
}